@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

.container {
   /* padding: 0 2rem; */
   font-family: "Lato", sans-serif;
}

.logonuser {
   height: 5.8rem;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   display: flex;
   align-items: center;
   width: 100%;
   padding: 0px 3rem;
   justify-content: space-between;
  
}
.logobox {
   display: flex;
   flex-direction: row;
   width: 26rem;
   align-items: center;
   justify-content: space-between;
   height: 100%;
}
.use {
   font-family: "Lato", sans-serif;
   font-size: 32px;
   font-weight: 400;
   color: #295aa9;
}

.logo {
   object-fit: contain;
   height: 38px;
}

.icon {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.username {
   display: flex;
   flex-direction: column;
   column-gap: 0px;
}
.admin {
   border-radius: 50%;
}

.bell {
   color: #295aa9;
   font-size: 29px;
   margin-right: 20px;
   position: relative;
}

.firstname {
   font-family: "Lato", sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
}
.lastname {
   color: #616976;
   margin-top: -18px;
   margin-bottom: 23px;
}
.red {
   width: 10px;
   height: 10px;
   background-color: red;
   border-radius: 50%;
   position: absolute;
   left: 15px;
}
.layout{
  display: flex;
  flex-direction: row;
  
}






/* media query : responsiveness */

@media (max-width: 600px) {
   .logo {
      width: 8rem;
      height: 1.2rem;
   }
   .logobox {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   .use {
      font-size: 18px;
      font-weight: 400;
   }
   .logonuser {
      padding: 0px 1rem;
      height: 4rem;
   }
   .username,
   .bell {
      display: none;
   }
   .use {
      margin-right: 10px;
   }
}
